@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
/* groups */
/* group-preview/ list */
.myGroupList {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.myGroupUnit {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
  flex: 0 0 calc(33.33% - 10px); /* 调整每个单元格的宽度，这里设置为三列 */
  margin-right: 10px; /* 调整每个单元格之间的右边距 */
  padding: 30px 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.myGroupUnit:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.mygroup-avatar .MuiAvatar-root {
  width: 100px;
  height: 100px;
}

.mygroup-title {
  margin-top: 10px;
  color: #393c7c;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 4px;
  font-family: "Comic Sans MS", cursive;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 设置文本显示的最大行数 */
  -webkit-box-orient: vertical;
}

.delete-mygroup {
  position: absolute;
  top: 10px; /* 调整图标相对于单元格顶部的距离 */
  right: 10px; /* 调整图标相对于单元格右侧的距离 */
  visibility: hidden;
  color: grey;
}
.myGroupUnit:hover .delete-mygroup {
  visibility: visible;
}
.delete-mygroup:hover {
  color: #000000; /* 悬停时添加圆形阴影效果 */
  cursor: pointer;
}

.owner-comment {
  margin-top: 5px;
  color: #ff8000;
  font-family: "Gloria Hallelujah", cursive;
}
