/* THis css define the form of Edit page*/
@import url("https://fonts.font.im/css?family=Gloria+Hallelujah|Ubuntu:400,500");

.editContent {
  width: 97%;
  font-family: "Cosmic Sans MS" !important;
}
.Image-button {
  padding: 6px 16px;
  color: "#3F3F3F";
  font-family: "Gloria Hallelujah", cursive;
  font-weight: bold;
  border: none;
  border: 2px solid #3f3f3f;
  border-radius: 20px;
  width: 127px;
  cursor: pointer;
  transition: bac;
}
.image_show,
.image_show img {
  margin-top: 10px;
}
.button-wrapper {
  display: flex;
}
.button-wrapper button {
  margin: 0 10px;
}
.post-details {
  width: 100%;
  padding: 20px;
  background-color: transparent;
  position: relative;
}

.post-title-wrapper {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-title {
  font-size: 24px;
  font-weight: bold;
  color: #393c7c;
  font-family: "Comic Sans MS", cursive; /* 修改标题的字体 */
}

.author-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.author-name {
  font-weight: bold;
  color: #393c7c;
  font-family: "Comic Sans MS", cursive;
  font-size: 18px;
}

.author-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.author-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.author-details {
  margin-left: 10px;
}

.post-timestamp {
  color: #888888;
  font-size: 14px;
  font-family: "Comic Sans MS", cursive;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.save-button-wrapper,
.discard-button-wrapper {
  margin-left: 10px;
  margin-right: 10px;
}

.save-button {
  padding: 6px 16px;
  color: #f0a860;
  font-family: "Gloria Hallelujah", cursive;
  font-weight: bold;
  border: none;
  border: 2px solid #f0a860;
  border-radius: 20px;
  width: 100px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; /*define the transition effect enabling smooth and gradual style changes over a specified duration.*/
}

.save-button:hover {
  background-color: #f0a860;
  color: #fafafa;
}
.save-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
}

.discard-button {
  padding: 6px 16px;
  color: "#3F3F3F";
  font-family: "Gloria Hallelujah", cursive;
  font-weight: bold;
  border: none;
  border: 2px solid #3f3f3f;
  border-radius: 20px;
  width: 100px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.discard-button:hover {
  background-color: #3f3f3f;
  color: #fafafa;
}

.post-content-wrapper {
  margin-bottom: 20px;
  font-family: "Comic Sans MS", cursive;
}

.post-content {
  font-size: 16px;
  line-height: 1.5;
}

.App {
  font-family: sans-serif;
  text-align: center;
}
