@import url("https://fonts.font.im/css?family=Gloria+Hallelujah|Ubuntu");

.group-list {
  margin-top: 40px;
  font-family: "Ubuntu";

  flex-wrap: wrap;
}
.group-preview {
  display: flex;
  position: relative;
  align-items: center;
  padding-left: 50px;
  padding-top: 20px;
  margin: 10px 0;
  margin-left: 75px;
  width: 800px;
  text-decoration: none;

  border-radius: 50px;
  cursor: pointer;
}

.group-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.group-preview .group-avatar {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.group-preview .group-avatar .MuiAvatar-root {
  width: 75px;
  height: 75px;
}

.group-preview .group-first-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 20px;
}

.group-preview .group-first-row p {
  width: 70%;
  color: #5c5c5c;
}
.group-preview .group-creater {
  white-space: nowrap;
  margin-right: 50px;

} /* 调整第二个元素的左边距 */

.group-preview .group-first-row .group-amount {
  /* margin-right: 20px; */
  padding-right: 50px;
}
.group-preview .group-name {
  display: flex;
  align-items: center;
  color: #393c7c;
  font-size: 20px; /* 调整字体大小 */
  font-weight: bold; /* 加粗字体 */
  font-family: "Comic Sans MS";
  margin-left: 20px;
}
.group-name-container {
  display: flex;
  align-items: center;
}
.new-group-note {
  all: initial;
  margin-left: 10px;
  font-weight: bold;
  color: #ea5d32;
}
.group-preview .group-intro-text {
  margin-top: 10px;
  margin-bottom: 8px;
  color: #3f3f3f;
  font-size: 15px;
  margin-left: 20px;
}

.group-preview .tag {
  display: inline-block;
  margin-right: 12px;
  padding: 4px 0px;
  color: #ff8000;
  font-family: "Comic Sans MS";
  margin-left: 20px;
}

.group-preview .grouplist-button {
  position: absolute;
  top: 20px;
  right: 20px;

  padding: 8px 16px; /* 上下宽一点的内边距 */
  font-size: 16px; /* 字体大小 */
  margin: 4px 8px; /* 左右和上下宽一点的外边距 */

  background-color: #fafafa; /* 背景色透明 */
  color: #393c7c;
  width: 100px;
  cursor: pointer;
  font-family: "Gloria Hallelujah", cursive;
  border-radius: 50px;

  border-color: transparent;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.group-preview .grouplist-button:hover {
  background-color: #393c7c;
  color: #fafafa;
}
