@import url("https://fonts.font.im/css?family=Gloria+Hallelujah|Ubuntu");

.group-list {
  margin-top: 20px;
  font-family: "Ubuntu";
}
.group-preview {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  margin: 10px 0;
  margin-left: 0px;
  border-bottom: 1px solid #fafafa;
  width: 90%;
  text-decoration: none;
}

.group-preview:hover {
  border-radius: 50px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.group-avatar {
  margin-right: 20px;
}
.group-avatar .MuiAvatar-root {
  width: 60px;
  height: 60px;
}

.group-first-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.group-first-row p {
  color: #999999;
  margin-right: 0px;
}
.group-creater {
  margin-right: 1000px;
} /* 调整第二个元素的左边距 */

.group-first-row .group-amount {
  margin-right: 20px;
}
.group-name {
  color: #393c7c;
  font-size: 35px; /* 调整字体大小 */
  font-weight: bold; /* 加粗字体 */
  font-family: "Comic Sans MS";
}
.group-intro-text {
  margin-top: 100px;
  margin-bottom: 8px;
  color: #3f3f3f;
  font-size: 15px;
}

.tag {
  display: inline-block;
  margin-right: 12px;
  padding: 4px 0px;
  color: #ff8000;
  font-family: "Comic Sans MS";
}

.grouplist-button {
  padding: 8px 16px; /* 上下宽一点的内边距 */
  font-size: 16px; /* 字体大小 */
  margin: 4px 8px; /* 左右和上下宽一点的外边距 */

  background-color: transparent; /* 背景色透明 */
  color: #393c7c;

  cursor: pointer;
  font-family: "Gloria Hallelujah", cursive;
  border-radius: 50px;

  border-color: transparent;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.grouplist-button:hover {
  /*   box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1); */
  background-color: #f0a860;
  color: #fafafa;
}
