@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
/* groups */

.firstrow {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  margin-top: 25px; /* 添加这行代码来设置上边距 */
}


.single-group-avatar {
  margin-right: 20px;
}

.single-group-avatar .MuiAvatar-root {
  width: 60px;
  height: 60px;
}

.group-description {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-family: "Comic Sans MS", cursive; 
}

.single-group-name {
  color: #393c7c;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 4px;
  font-family: "Comic Sans MS", cursive; 
}

.single-group-creater,
.single-group-amount {
  margin: 0;
  color: #999999;
}

.single-group-creater {
  margin-left: 200px; /* 设置左侧间距为 10px */
}

.single-group-createtime {
  margin-left: 100px; /* 设置右侧间距为 10px */
  color: #999999;

}
.single-group-amount {
  margin-left: 70px;
}



.single-tag {
  display: inline-block;
  margin-right: 12px;
  padding: 4px 0px;
  color: #ff8000;
}

.single-group-tags {
  /* 其他样式 */
  margin-bottom: 10px; /* 增加底部间距 */
}
.single-group-info-bottom {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.single-group-info-text {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.single-group-intro-tags {
  display: flex;
  align-items: baseline;
  margin-top: 4px;
}
.single-group-intro {
  margin: 0;
  margin-right: 10px;
}

.single-group-button {
  margin-top: 10px; 
  padding: 8px 16px; /* 上下宽一点的内边距 */
  font-size: 16px; /* 字体大小 */
  margin: 4px 8px; /* 左右和上下宽一点的外边距 */
  border-radius: 8px; /* 圆角 */
  background-color: transparent; /* 背景色透明 */
  color: #393c7c;
  border-color: #393c7c;
  cursor: pointer;
}
.joined-button {
  /* 其他样式 */
  color: white;
  font-family: 'Comic Sans MS';
  font-weight: bold;
  background-color: #F0A860;
  border-radius: 20px;
  margin-left: 50px;
  margin-right: 10px;
  width: 100px;
}

.joined-button:disabled {
  /* 其他样式 */
  opacity: 0.6; /* 设置禁用状态的透明度 */
  cursor: not-allowed; /* 设置禁用状态的鼠标样式 */
}

.write-post-button {
  /* 其他样式 */
  color: white;
  font-family: 'Comic Sans MS';
  font-weight: bold;
  background-color: #9C62F2;
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 50px;
  width: 100px;
}



.single-group-button:hover {
  /* 悬停样式 */
  /* 可以设置为与默认样式相同，或者设置为透明 */
  background-color: transparent;
 
}

/* Forum container */
.single-forum {
  margin: 20px;
  font-family: "Comic Sans MS", cursive; 
}

/* Forum post */
.single-forum-post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}


/* Post date */
.single-post-date {
  width: 120px;
  text-align: center;
  margin-left: 20px;
}

/* Post author */
.single-post-author {
  width: 200px;
  text-align: right;
}

/* Forum header */
.single-forum-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: transparent;
  font-weight: bold;
}

.single-forum-header {
  border-bottom: 1px dashed #ccc;
  margin-bottom: 2px;
}

.single-header-date{
  position: relative; /* 开启相对定位 */
  left: -10px; /* 向左移动的距离 */
}

.single-post-date {
  position: relative; /* 开启相对定位 */
  left: 40px; /* 向左移动的距离 */
}

/* Column names */
.column-names {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color:transparent;
  font-weight: bold;
}
/* Column name Date */
.header-date {
  text-align: right;
  margin-right: 0.5px; /* 调整右边距 */
}

