
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active{
    color: #3F3F3F !important;
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed{
    color: #9AC7BF !important;
}

.activities-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    max-height: 100%;
}

@media (max-width: 1280px) {
    .activities-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 630px) {
    .activities-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }