.userPageProfil {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  direction: "row";
}
.myPosts {
  width: 80%;
}
.forum-post {
  display: flex;
  align-items: center;
}

.header-post {
  margin-right: 10px;
}

.header-group {
  margin-right: 300px;
}

.header-date {
  margin-right: 500px;
}

.post-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post {
  margin-right: 400px;
}

.group {
  margin-right: 500px;
}

.post-date {
  margin-right: 350px;
}
