.popUpWindow{
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(245, 242, 236,0.98); 
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; 
}
.pictureDetail{

    
    margin: 0 auto;
    border-radius: 5%;
    
}
.modal-content{
    width:420px;
    position: relative;
    margin-top:20px
}
.showDetail{
    
    width:380px;
    height: 480px;
    background-color: rgba(250, 250, 250, 1);
    padding: 20px;
    border-radius: 4%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    
    

    
}

.arrowLeft{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:20px;
    left:20px;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 100%;
}
.arrowLeft:hover {
    background-color: #ccc; /* 鼠标悬停时的背景色 */
    cursor: pointer;
  }
  .endElement{
    width: 380px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .contentWindow{
    height:400px;
    overflow: auto ;
  }
  .contentWindow::-webkit-scrollbar{
    display: none;
  }

  .tagInPosts:hover{
    cursor: pointer;
    filter: brightness(1.2);
    

  }
  .clickIcon{
    margin-right: 5px;
    margin-left: 5px;
  }